<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}" /> 
    </head>
    <body>
        <section>
            <header class="header">                
                <a href="{% url 'home' %}" class="header_h">Детский сад "Фантазия"</a>
                <nav>
                    <ul class="menu">
                        <li><a href="{% url 'child_app' %}">Запись в наш детский сад</a></li>
                        <li><a href="{% url 'teacher_app' %}">Работа в нашем детском саду</a></li>
                        <li><a href="{% url 'question' %}">Ваши вопросы</a></li>                     
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'children' %}">Группа</a></li>
                        <li><p>{{user.username}}|<a href="{% url 'logout' %}">Выйти</a></p></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Войти как педагог</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        </section>
        <section class="content_wrap">
            <h1 class="label">{{title}}</h1>
            {% block content%}
            {% endblock content %}
        </section>
        <section class="footer_wrap">
            <footer>
                <p>Контакты</p>
                <p>ВК:</p>
                <p>Номер телефона:</p>
                <p>Email:</p>
            </footer>
        </section>                  
    </body>
</html>