{% extends "base.html" %}
{% block content%}
{% if request.user.is_authenticated %}
{% else %}
<meta http-equiv="Refresh" content="0; {% url 'login' %}">
{% endif %}
<table class="data-table">
    <thead>
        <tr>
            <th colspan="6">Ваши дети</th>
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td>Ф.И.О.</td>
            <td>Возраст</td>
            <td>Номер телефона родителя/опекуна</td>
            <td>Нуждается в психологе</td>      
            <td>Нуждается в логопеде</td>
            <td>Программа посещения</td>
        </tr>
        {% for child in children %}
        <tr>
            <td>{{child.full_name}}</td>
            <td>{{child.age}}</td>
            <td>{{child.phone_number}}</td>
            <td>{{child.needs_a_psychologist}}</td>
            <td>{{child.needs_a_logopedist}}</td>
            <td>{{child.program}}</td>
        </tr>
        {% endfor %}      
    </tbody>
</table>                                
{% endblock content%}