{% extends "base.html" %}
{% block content%}
    <div class="content">
        <h3 class="partitle">О нашем детском саде</h3>
        <p class="text">Мы - частный детский сад "Фантазия", занимаемся образованием, воспитанием и организацией присмотра за детьми дошкольного возраста.</p>
        <p class="text">Наша программа образования одобрена Министерством образования, включает в себя ряд дополнительных направленностей и новейших методик.</p>
        <p class="text">Помимо этого, на базе нашего детского сада есть кружки и секции самых разных направлений для дополнительного развития ваших детей.</p>
        <p class="text">В нашем детском саду работают лучшие педагоги, которые готовы дарить прекрасное образование и лучшие моменты детства нашим воспитанникам.</p>
        <p class="text">Вы можете познакомиться с нашим детским садом посетив его заранее:</p>
    </div>    
    {% include "form.html" with form=form button_title=button_title title=title%}                          
{% endblock content%}