* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/static/img/jy.jpg");
    padding: 0;
    line-height: 1.5;
}

h3 {
    margin: 20px auto;
}

.content_wrap{
    width: 800px;
    margin: 20px auto;
    background-color: #FFFAFA;
    border: solid 5px plum;
    min-height: 700px;
}

.footer_wrap{
    background-color: #FFFAFA;
    border: solid 5px plum;
    padding: 10px;
    justify-content: right;
    display: flex;
}

.label {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.text {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: #FFFAFA;
    border: solid 5px plum;
	height: 90px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li{
    margin-left: 20px;
}

.menu li a{
    margin-left: 20px;
    color: #000;
    text-decoration: none;
}

.menu li a:hover{
    color: gray;
}

.content {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 600px;
}

table {
    text-align: left;
    width: 600px;
}

td {
    height: 40px;
}

thead, tfoot {
    background-color: plum;
    color: black;
}

form {
    margin: auto;
    text-align: left;
    margin: 20px auto;
    padding: 0 20px;
    width: 600px;
}

.data-table{
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.data-table td{
    border: solid 1px plum;
}
